@use "../../../styles/mixins" as *;

.scene {
  height: 100vh;
  scroll-snap-align: start;
  padding: 0 0 1rem;
  display: flex;
  justify-content: flex-end;
  position: relative;

  &__container {
    max-height: 0;
    overflow: hidden;
    color: white;
    position: absolute;
    left: 18%;
    right: 0;
    top: 40%;
    @include tablet {
      top: 45%;
      left: 25%;
    }
    @include desktop {
      top: 20%;
      left: 10%;
    }
    &__top-text {
      -webkit-text-stroke: 2px;
      font-weight: 600;
      font-size: 1.8rem;

      @include tablet {
        font-size: 3rem;
      }
      @include desktop {
        font-size: 2.5rem;
      }
    }

    &__bottom-text {
      -webkit-text-stroke: 2px;
      font-size: 1.8rem;
      color: white;
      font-weight: 600;
      width: 9.018rem;
      margin-left: 7.6rem;

      @include tablet {
        font-size: 3rem;
        margin-left: 12.6rem;
      }
      @include desktop {
        margin-left: 0;
        font-size: 2.5rem;
      }
    }
  }
}

.canvas {
  opacity: 0;
  height: 50vh;

  @include tablet {
    height: 70vh;
    width: 50rem;
  }
  @include desktop {
    height: 100vh;
    width: 65rem;
  }
}

.is-visible {
  & > .scene .scene__container {
    max-height: 500px;

    transition: max-height, 1.2s ease-in;
    transition-delay: 1.4s;
  }

  & .canvas {
    opacity: 1;
    transition: opacity, 1.4s ease-in;
  }
}
