@use "../../styles/mixins" as *;

.portfolio {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(150deg, rgba(79, 76, 76, 0.4) 25%, black 25%);

  &__text {
    // margin: 0 auto 4rem auto;
    color: white;
    padding: 2rem;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    @include tablet {
      // margin: 4rem auto;
    }
  }
  &__container {
    margin: 0 2rem;
  }

  &__outer-container {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__inner-container {
    margin-bottom: 2rem;
    position: relative;

    &--overlay {
    }

    &__image {
      border-top-right-radius: 20%;
      border-bottom-left-radius: 20%;
      width: 100%;
      height: 100%;
      display: block;
      margin: 0 auto;
    }

    &:hover .portfolio__wrapper__text--description {
      margin-top: 0.5rem;
      max-height: 7rem;
      opacity: 1;
      visibility: visible;
      transition: opacity 1s, max-height 1s, margin-top 1s;
    }

    &:hover .portfolio__wrapper__text--underline {
      width: 3.9rem;
      transition: width, 1s;
    }

    &:hover .portfolio__wrapper__text--wide-underline {
      width: 6.9rem;
      transition: width, 1s;
    }

    &--centre {
      margin: 3rem auto;
    }

    @include tablet {
      width: 48%;
    }
  }

  &__wrapper {
    overflow: hidden;
    padding: 0.6rem 0;
    width: 50%;
    position: absolute;
    z-index: 3;
    border-top-right-radius: 5px;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.1);

    // background: darkslategrey;
    // background: black;
    // background: light;

    &--colour {
      background: rgba(0, 0, 0, 0.5);
    }

    &__text {
      margin: 0 0 0 1rem;

      &--underline {
        width: 0;
        white-space: nowrap;
        border-bottom: 1px solid white;
      }

      &--wide-underline {
        width: 0;
        white-space: nowrap;
        border-bottom: 1px solid white;
      }

      &--description {
        visibility: hidden;
        opacity: 0;
        max-height: 0;
      }
    }
  }
}
