@use "./typography" as *;

body {
  background: black;
  color: white;
  font-family: gotham;
  font-weight: 600;
  -webkit-text-stroke: 0.9px;
  height: 100vh;
  overflow: hidden;
}

a {
  color: white;
}

p {
  line-height: 1.6rem;
}
