@use "./resets" as *;
@use "./mixins" as *;
@use "./typography" as *;

.app {
  overflow: scroll;
  height: 100vh;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.fade-in-section {
  opacity: 0;
}
.fade-in-section.is-visible {
  opacity: 1 !important;
  transition: opacity 1s ease-in;
}
