@use "../../styles/mixins" as *;

.skills {
  // background: rgba(79, 76, 76, 0.4);
  margin: 2rem 1rem;
  @include tablet {
    border-top: 1px solid white;
    width: 50%;
  }
  &__container {
    margin-top: 1rem;
    & > h4 {
      text-align: center;
    }
  }

  &__header {
    margin: 0 2rem 2rem;
  }
  &__inner-container {
    border-top: 1px solid white;
    border-right: 1px solid white;
    & > h4 {
      text-align: center;
    }
    margin: 0 1rem 2rem;
    @include tablet {
      margin: 0;
    }
  }
  &__text {
    margin: 1rem 1rem;
    // margin: 0 2rem 4rem 2rem;
    // background: lightseagreen;
    // padding: 1.5rem;
    text-align: center;
    width: fit-content;
    border-radius: 5px;

    @include tablet {
      margin-left: 0;
    }
  }
}

.marquee {
  &__container {
    width: 100%;

    & h4 {
      text-align: center;
      margin-top: 0.5rem;
      @include tablet {
        margin-bottom: 0;
      }
    }
    align-self: baseline;
  }

  &__image {
    display: block;
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
  }
}
