@use "../../styles/mixins" as *;

.skills {
  // background: rgba(79, 76, 76, 0.4);
  padding-top: 2rem;
  height: 100vh;
  scroll-snap-align: start;

  &__outer-container {
    height: 80%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__container {
    width: 100%;

    @include tablet {
      width: 50%;
      margin: 0 auto;
    }
  }

  &__header {
    margin: 0 2rem 2rem;
    text-decoration: underline;
  }
  &__inner-container {
    // width: fit-content;
    margin: 0 auto 2rem;
    @include tablet {
      // width: 12rem;
      // margin: 0;
    }
  }
  &__text {
    margin: 1rem 1rem;
    // margin: 0 2rem 4rem 2rem;
    // background: lightseagreen;
    // padding: 1.5rem;
    text-align: center;
    width: fit-content;
    border-radius: 5px;

    @include tablet {
      width: 40rem;
      margin: 2rem auto;
      margin: 0;
    }
  }
}

.marquee {
  &__container {
    width: 100%;

    & h4 {
      text-align: center;
      margin-top: 0.5rem;
      @include tablet {
        margin-bottom: 0;
      }
    }
    align-self: baseline;
  }

  &__image {
    display: block;
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
  }
}
