@use "../../styles/mixins" as *;

.about {
  padding: 2rem 0;
  height: 100vh;
  background: linear-gradient(95deg, black 25%, white 25%);
  border-radius: 2px;

  @include tablet {
    background: linear-gradient(105deg, black 25%, white 25%);
  }

  &__container {
    width: 68%;
    margin-left: auto;
    margin-bottom: 3rem;
  }

  &__text {
    // background: lightseagreen;

    margin-right: 1rem;
    color: black;
    border-radius: 5px;
    font-size: 1rem;
    @include tablet {
      height: fit-content;
      font-size: 1rem;
    }

    @include desktop {
      width: 40rem;
    }
  }

  &__animation {
    height: 25rem;
    @include tablet {
      height: 30rem;
      width: 80%;
      margin: 0 auto;
    }
    @include desktop {
      height: 30rem;
      width: 70%;
    }

    @media (min-width: 1500px) {
      height: 35rem;
    }
  }
}
