@use "../../styles/mixins" as *;

.about {
  opacity: 0;
  padding: 1rem 0;
  height: 100vh;
  border-radius: 2px;
  scroll-snap-align: start;
  position: relative;

  @include tablet {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 0 2rem;
    max-width: 1200px;
  }

  @include desktop {
    margin: 0 auto;
    max-width: 1200px;
  }

  &__container {
    text-align: center;
    border-top: 1px solid white;
    border-right: 1px solid white;
    margin: 1rem;

    @include tablet {
      width: 40rem;
      margin: 2rem auto;
    }
  }

  &__header {
    text-decoration: underline;
    margin-left: 2rem;
  }

  &__text {
    margin-right: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    @include tablet {
      height: fit-content;
      font-size: 1rem;
    }
  }

  &__animation {
    height: 30%;
    width: 80%;
    margin: 0 auto;

    @media (min-width: 600px) {
      height: 50%;
    }

    @include tablet {
      height: 60%;
      width: 45%;
    }
    @include desktop {
      height: 45%;
      width: 50%;
    }
  }
}

.is-visible {
  & .about {
    opacity: 1;
    transition: opacity 1s;
  }
}
