@use "../../styles/mixins" as *;

.about {
  padding: 2rem 0;
  height: 100vh;
  background: linear-gradient(105deg, black 25%, white 25%);
  border-radius: 2px;

  &__text {
    // background: lightseagreen;
    width: 68%;
    color: black;
    padding: 1.5rem;
    border-radius: 5px;
    margin-left: auto;
    @include tablet {
      height: fit-content;
    }
  }

  &__animation {
    height: 20rem;
    @include tablet {
      height: 30rem;
      width: 60%;
      margin: 0 auto;
    }
  }
}
