.contact {
  &__header {
    text-align: center;
    font-weight: normal;
  }

  &__container {
    display: flex;
    gap: 2rem;
    justify-content: center;

    & img {
      width: 3rem;

      border-radius: 2rem;
    }
  }
}
