@use "../../styles/mixins" as *;

.contact {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > img {
    width: 50%;
    max-width: 20rem;
  }

  &__header {
    width: 15rem;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 0;
  }

  &__container {
    display: flex;
    width: 15rem;

    & img {
      width: 3rem;

      border-radius: 2rem;
    }

    & a:nth-of-type(2) > p {
      text-align: center;
    }

    & a:nth-last-of-type(1) > p {
      text-align: right;
    }
  }

  // &__secondary-container {
  //   flex: 1;
  // }
}

a {
  flex: 1;
}
